{
    "wurm_path": "/path/to/wurm/client",
    "playername": "yourusername",
    "token": "yourbottoken",
    "channels": {
        "village": [
            "your-channel-id"
        ],
        "trade": [
            "your-channel-id"
        ],
        "alliance": [
            "your-channel-id"
        ],
        "_event": [
            "your-channel-id"
        ]
    },
    "events": {
        "keyword": "your-role-id"
    },
    "event_blacklist": [
        "blacklisted-word"
    ]
}